[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
imdbpy = "*"
tabulate = "*"
selenium = "*"
bs4 = "*"
webdriver-manager = "*"
pandas = "*"
win10toast-persist = "*"
tmdbv3api = "*"
python-dotenv = "*"
rich = "*"

[dev-packages]

[requires]
python_version = "3.9"
