aiohttp==3.7.4.post0
altgraph==0.17
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.9.0
autopep8==1.5.7
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
cffi==1.14.6
chardet==4.0.0
discord.py==1.7.2
distlib==0.3.2
Eel==0.12.4
filelock==3.0.12
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==3.2
IMDbPY==2021.5.21
lxml==4.6.3
multidict==5.1.0
pefile==2021.5.24
pycodestyle==2.7.0
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
python-dotenv==0.17.1
pywin32-ctypes==0.2.0
six==1.16.0
SQLAlchemy==1.4.19
toml==0.10.2
typing-extensions==3.10.0.0
virtualenv==20.4.7
whichcraft==0.6.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
